{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block extra_breadcrumbs %}
  <li><a href="{% url 'plugins:nautobot_dns_records:txt_records_list' %}">TXT Records</a></li>
{% endblock extra_breadcrumbs %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>TXT Record</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Label</td>
              <td>{{ object.label }}</td>
            </tr>
            <tr>
                <td>Value</td>
              <td>{{ object.value }}</a></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span></td>
            </tr>
        </table>
    </div>
{% endblock %}
